.container {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .btn {
    margin-right: 10px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  .view-mode-container{
    margin: 15px 0px;
  }
  @media (max-width: 767px) {
    .btn {
      margin-bottom: 10px;
      width: 100%;
    }
  }
  
  